<mat-toolbar>
  <img class="img-logo" src="../../../assets/logo.png" alt="logo">
  <span>DashBoard</span>
  <span class="example-spacer"></span>
    <img class="img-profile" mat-card-image src={{imgURL}} alt="img-profile">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" (click)="toggleArrow()">
      <!-- <mat-icon>expand_more</mat-icon> -->
      <mat-icon *ngIf="!expandedElement"
              >keyboard_arrow_down</mat-icon
            >
            <mat-icon *ngIf="expandedElement"
              >keyboard_arrow_up</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="mat-menu">
      <button mat-menu-item (click)="toggleArrow(menu.close);">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  <!-- <button mat-icon-button aria-label="Example icon-button with share icon">
    <mat-icon>expand_more</mat-icon>
  </button> -->
  <!-- <button (click)="logoutHandler()">
    <span>Logout</span>
  </button> -->
</mat-toolbar>
