<!-- List Of Leaves For Normal User 'employee' -->
<div *ngIf="isUser()" class="row-flex">
  <div class="no">{{leave.id}}</div>
  <div class="type-date-cot">
      <div class="name">{{leave.type}}</div>
      <div class="date">
          2022/08/09
      </div>
  </div>
  <div class="results">
    <mat-icon *ngIf="handleApproveImg()" class="icon">check_circle</mat-icon>
    <mat-icon *ngIf="handlePendingImg()" class="icon">pending</mat-icon>
    <mat-icon *ngIf="handleRejectedImg()" class="icon">do_not_disturb_alt</mat-icon>
  </div>
</div>

<!-- List Of Leaves For Manger User 'manger' -->
<div class="flex-container" *ngIf="!isUser()">
  <div class="row-flex">
    <div class="col-flex">
      <div class="user-row-flex">
        <div class="user-pic-row-flex">
          <img class="img" src="../../../assets/pic.png" alt="pic">
          <!-- <mat-icon class="img">image</mat-icon> -->
        </div>
        <div class="user-name-row-flex">
          <p *ngIf="user[0]">{{user[0].userName}}</p>
        </div>
        <div class="user-email-row-flex">
          <p *ngIf="user[0]">{{user[0].email}}</p>
        </div>

      </div>
    </div>
    <div class="col-flex">
      <div class="leave-col-flex">
        {{leave.type}}
      </div>
      <div class="leave-col-flex">
        {{leave.startDate}}
      </div>
      <div class="leave-col-flex">
        {{leave.endDate}}
      </div>
      <div class="leave-col-flex">
        {{leave.description}}
      </div>
      <div class="set-row-flex">
        <button (click)="handleApprove()" color="primary" mat-flat-button>Approve</button>
        <button (click)="handleReject()" color="warn" mat-flat-button>Reject</button>

      </div>

    </div>

  </div>

</div>
