<mat-card class="example-card">
  <mat-card-title>Start Date: {{ formatDate(leave.startDate) }}</mat-card-title>
  <mat-card-title>End Date: {{ formatDate(leave.startDate) }}</mat-card-title>
  <mat-card-content>
    <p>Description : {{leave.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="handleApprove()" color="primary" mat-flat-button>
      Approve
    </button>
    <button (click)="handleReject()" color="warn" mat-flat-button>
      Reject
    </button>
  </mat-card-actions>
</mat-card>
<!-- List Of Leaves For Normal User 'employee' -->
<!-- <mat-card class="example-card" *ngIf="isUser()">
  <mat-card-content class="mat-card-content-user">
    <p>{{ leave.id }}</p>
  </mat-card-content>
  <mat-card-title-group class="mat-card-title-group-user">
    <div class="leave-info">
      <mat-card-title>{{ leave.type }}</mat-card-title>
      <mat-card-subtitle>{{ leave.startDate }}</mat-card-subtitle>
    </div>
    <div class="img-flex">
      <mat-icon mat-card-sm-image *ngIf="handleApproveImg()" class="icon"
        >check_circle</mat-icon
      >
      <mat-icon mat-card-sm-image *ngIf="handlePendingImg()" class="icon"
        >pending</mat-icon
      >
      <mat-icon mat-card-sm-image *ngIf="handleRejectedImg()" class="icon"
        >do_not_disturb_alt</mat-icon
      >
    </div>
  </mat-card-title-group>
</mat-card>

<mat-card class="example-card-manger" *ngIf="!isUser()">
  <mat-card-title-group>
    <mat-card-title *ngIf="user[0]">{{ user[0].userName }}</mat-card-title>
    <mat-card-subtitle>{{ leave.type }}</mat-card-subtitle>
    <mat-card-subtitle
      >Start: {{ formatDate(leave.startDate) }}</mat-card-subtitle
    >
    <mat-card-subtitle>End: {{ formatDate(leave.endDate) }}</mat-card-subtitle>
    <img
      mat-card-sm-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    />
  </mat-card-title-group>
  <mat-card-content>
    {{ leave.description }}
  </mat-card-content>
  <mat-action-list>
    <button (click)="handleApprove()" color="primary" mat-flat-button>
      Approve
    </button>
    <button (click)="handleReject()" color="warn" mat-flat-button>
      Reject
    </button>
  </mat-action-list>
</mat-card> -->
