<div class="container">
  <div class="col-flex">
    <div *ngIf="isUser()" class="row-flex-header">
      <div class="no">N0.</div>
      <div class="type-date-cot">Type</div>
      <div class="results">Results</div>
    </div>
    <span></span>
    <ng-container *ngIf="isUser()">
      <app-list-items
        *ngFor="let leave of leaves"
        [leave]="leave"
      ></app-list-items>
    </ng-container>
    <ng-container *ngIf="!isUser()">
      <app-list-items
        *ngFor="let leave of leavesForManger"
        [leave]="leave"
        (handleApproveOutput)="handleApprove($event)"
        (handleRejectOutput)="handleReject($event)"
      ></app-list-items>
      <div *ngIf="isLeaveEmpty()">
        <mat-card>
          <mat-card-title-group>
            <mat-card-title>No Leaves To Approve</mat-card-title>
          </mat-card-title-group>
        </mat-card>
      </div>
    </ng-container>
    <div class="btn-add-leave">
      <button
        mat-raised-button
        color="primary"
        *ngIf="isUser()"
        (click)="onClick()"
      >
        Add List
      </button>
    </div>
  </div>
</div>
