/* You can add global styles to this file, and also import other style files */

html{ height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 55px;
  display: flex;
  justify-content: center;
  /* font-family: montserrat; */
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  /* background-repeat: no-repeat; */
  /* background-attachment: inherit; */
  /* background-size: cover; */
  /* height: 100%; */
  /*
  overflow: hidden; */
  /* color: gray; */

  }
